#obj_creation {
   position: relative;
   top: 600px;
   margin: 15px;
   padding: 5px;
}

#animation_controls {
   position: relative;
   top: 474px;
   left: 230px;
   margin: 15px;
   padding: 5px;
}

canvas {
   position:absolute;
   left:0px;
   top:0px;
}

#canvas {
   z-index: 2;
}

#background_canvas {
   z-index: 1;
}
