#obj_creation {
   position: absolute;
   margin: 15px;
   padding: 5px;
}

#animation_controls {
   position: absolute;
   left: 150px;
   margin: 15px;
   padding: 5px;
}

.button {
   -moz-box-shadow:inset 0px 0px 0px 0px #fce2c1;
   -webkit-box-shadow:inset 0px 0px 0px 0px #fce2c1;
   box-shadow:inset 0px 0px 0px 0px #fce2c1;
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #993499));
   background:-moz-linear-gradient(top, #ffc477 5%, #993499 100%);
   background:-webkit-linear-gradient(top, #ffc477 5%, #993499 100%);
   background:-o-linear-gradient(top, #ffc477 5%, #993499 100%);
   background:-ms-linear-gradient(top, #ffc477 5%, #993499 100%);
   background:linear-gradient(to bottom, #ffc477 5%, #993499 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#993499',GradientType=0);
   background-color:#ffc477;
   border:1px solid #eeb44f;
   display:inline-block;
   cursor:pointer;
   color:#044236;
   font-family:Trebuchet MS;
   font-size:12px;
   padding:0px 9px;
   text-decoration:none;
   text-shadow:0px 0px 0px #cc9f52;
}
.button:hover {
   background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #993499), color-stop(1, #ffc477));
   background:-moz-linear-gradient(top, #993499 5%, #ffc477 100%);
   background:-webkit-linear-gradient(top, #993499 5%, #ffc477 100%);
   background:-o-linear-gradient(top, #993499 5%, #ffc477 100%);
   background:-ms-linear-gradient(top, #993499 5%, #ffc477 100%);
   background:linear-gradient(to bottom, #993499 5%, #ffc477 100%);
   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#993499', endColorstr='#ffc477',GradientType=0);
   background-color:#993499;
}
.button:active {
   position:relative;
   top:1px;
}

